<link rel="import" href="../cards/sr-detail-card.html">
<link rel="import" href="../header-options/sr-details-header-options.html">
<link rel="import" href="../dialogs/sr-page-search-dialog.html">
<link rel="import" href="../../sr-main-app-drawer-content.html">

<dom-module id="sr-details-view">
  <template>
    <style include="shared-styles">

    </style>
    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer
          id="drawer"
          slot="drawer"
          swipe-open="[[narrow]]">
        <sr-main-app-drawer-content></sr-main-app-drawer-content>
      </app-drawer>
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <menu-back-button
                show-back-button="[[showBackButton]]"
                disabled="[[disableMenuConfirmation]]"></menu-back-button>
            <div main-title>[[menuTitle]]</div>
            <sr-details-header-options
                disabled="[[disableMenuConfirmation]]"
                show-page-confirmation="[[showPageConfirmation]]"></sr-details-header-options>
          </app-toolbar>
        </app-header>
        <template is="dom-repeat" items="{{page.details.list}}">
          <sr-detail-card
              context-item="[[item]]"
              context-index="[[index]]"></sr-detail-card>
        </template>
        <template is="dom-if" if="{{!hasDetailsList}}">
          <sr-detail-card></sr-detail-card>
        </template>
      </app-header-layout>
    </app-drawer-layout>
    <sr-page-search-dialog
        id="pageSearchDialog"></sr-page-search-dialog>
  </template>
  <script>
    class SrDetailsView extends Polymer.Element {
      static get is() { return 'sr-details-view'; }

      static get properties() {
        return {
          menuTitle: {
            type: String,
            value: 'Details'
          },
          showPageConfirmation: {
            type: Boolean,
            value: false
          },
          disableMenuConfirmation: {
            type: Boolean,
            value: false
          },
          showBackButton: {
            type: Boolean,
            value: true,
            notify: true
          },
          hasDetailsList: Boolean
        };
      }

      static get observers() {
        return [
          '_pageIdChanged(page.id)',
        ];
      }

      _pageIdChanged(pageId) {
        this.set('hasDetailsList', this._hasDetailList());
      }

      _hasDetailList() {
        if (!this.page.details || !this.page.details.list) {
          return false;
        }
        return !!this.page.details.list.length;
      }

      ready() {
        super.ready();
        this.addEventListener('toggle-drawer', e => this._toggleDrawerChangeListener(e));
        this.addEventListener('trigger-add-detail', e => this._triggerAddDetailChangeListener(e));
        this.addEventListener('trigger-reorder-details', e => this._triggerReorderDetailsChangeListener(e));
        this.addEventListener('trigger-page-confirmation', e => this._triggerPageConfirmationChangeListener(e));
        this.addEventListener('trigger-search', e => this._triggerSearchChangeListener(e));
      }

      _toggleDrawerChangeListener(event) {
        this.$.drawer.toggle();
      }

      _triggerAddDetailChangeListener(event) {

      }

      _triggerReorderDetailsChangeListener(event) {
        
      }

      _triggerPageConfirmationChangeListener(event) {
        
      }

      _triggerSearchChangeListener(event) {
        this.$.pageSearchDialog.toggle();
      }
    }

    window.customElements.define(SrDetailsView.is, SrDetailsView);
  </script>
</dom-module>
