<link rel="import" href="../cards/sr-detail-card.html">
<link rel="import" href="../cards/sr-edit-detail-card.html">
<link rel="import" href="../header-options/sr-details-header-options.html">
<link rel="import" href="../dialogs/sr-page-search-dialog.html">
<link rel="import" href="../../sr-main-app-drawer-content.html">

<dom-module id="sr-details-view">
  <template>
    <style include="shared-styles">

    </style>
    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer
          id="drawer"
          slot="drawer"
          swipe-open="[[narrow]]">
        <sr-main-app-drawer-content></sr-main-app-drawer-content>
      </app-drawer>
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <menu-back-button
                show-back-button="[[showBackButton]]"
                disabled="[[disableMenuBackButton]]"></menu-back-button>
            <div main-title>[[menuTitle]]</div>
            <sr-details-header-options
                disabled="[[disableHeaderOptions]]"
                page-confirmation-text="[[pageConfirmationText]]"></sr-details-header-options>
          </app-toolbar>
        </app-header>
        <template is="dom-if" if="[[showDetailCard]]">
          <template is="dom-repeat" items="{{page.details.list}}">
            <sr-detail-card
                context-item="[[item]]"
                context-index="[[index]]"></sr-detail-card>
          </template>
          <template is="dom-if" if="[[!hasDetailsList]]">
            <sr-detail-card></sr-detail-card>
          </template>
        </template>
        <template is="dom-if" if="[[showEditDetail]]">
          <sr-edit-detail-card
              id="editDetailCard"
              page="{{page}}"
              editing-detail="{{editingDetail}}"
              editing-detail-index="[[editingDetailIndex]]"></sr-edit-detail-card>
        </template>
      </app-header-layout>
    </app-drawer-layout>
    <sr-page-search-dialog
        id="pageSearchDialog"></sr-page-search-dialog>
  </template>
  <script>
    class SrDetailsView extends Polymer.Element {
      static get is() { return 'sr-details-view'; }

      static get properties() {
        return {
          menuTitle: {
            type: String,
            value: 'Details'
          },
          pageConfirmationText: {
            type: String,
            value: null
          },
          disableHeaderOptions: {
            type: Boolean,
            value: false
          },
          disableMenuBackButton: {
            type: Boolean,
            value: false
          },
          hasDetailsList: Boolean,
          showEditDetail: {
            type: Boolean,
            value: false,
          },
          showDetailCard: {
            type: Boolean,
            value: true,
          },
          showBackButton: {
            type: Boolean,
            value: true
          },
          editingDetail: {
            type: Object,
            value: null
          },
          editingDetailIndex: {
            type: Number,
            value: null
          }
        };
      }

      static get observers() {
        return [
          '_pageIdChanged(page.id)',
          '_editingDetailNameChanged(editingDetail.name)',
        ];
      }

      _editingDetailNameChanged(editingDetailName) {
        this.set('disableHeaderOptions', !editingDetailName);
      }

      _pageIdChanged(pageId) {
        this.set('hasDetailsList', this._hasDetailList());
      }

      _hasDetailList() {
        if (!this.page.details || !this.page.details.list) {
          return false;
        }
        return !!this.page.details.list.length;
      }

      ready() {
        super.ready();
        // @DEBUG: remove once done testing
        this._triggerAddDetailChangeListener(null);
        this.addEventListener('toggle-drawer', e => this._toggleDrawerChangeListener(e));
        this.addEventListener('trigger-add-detail', e => this._triggerAddDetailChangeListener(e));
        this.addEventListener('trigger-edit-detail', e => this._triggerEditDetailChangeListener(e));
        this.addEventListener('trigger-reorder-details', e => this._triggerReorderDetailsChangeListener(e));
        this.addEventListener('trigger-page-confirmation', e => this._triggerPageConfirmationChangeListener(e));
        this.addEventListener('trigger-search', e => this._triggerSearchChangeListener(e));
        this.addEventListener('close-edit-detail', e => this._triggerCloseEditDetailListener(e));
      }

      _toggleDrawerChangeListener(event) {
        this.$.drawer.toggle();
      }

      _triggerAddDetailChangeListener(event) {
        this._showEditDetail();
        this.set('pageConfirmationText', 'Save');
        this.set('menuTitle', 'Add Detail');
        this.set('disableHeaderOptions', false);
        this.set('disableMenuBackButton', false);
        this.set('editingDetailIndex', null);
      }

      _triggerEditDetailChangeListener(event) {
        this._showEditDetail();
        this.set('pageConfirmationText', 'Save');
        this.set('menuTitle', 'Edit Detail');
        this.set('disableHeaderOptions', false);
        this.set('disableMenuBackButton', false);
        this.set('editingDetailIndex', event.detail.detailIndex);
      }

      _triggerCloseEditDetailListener(event) {
        this._setDetailCardView();
      }

      _setDetailCardView() {
        this._showDetailCard();
        this.set('showBackButton', true);
        this.set('pageConfirmationText', null);
        this.set('menuTitle', 'Details');
        this.set('disableHeaderOptions', false);
        this.set('disableMenuBackButton', false);
      }

      _showEditDetail() {
        this.set('showEditDetail', true);
        this.set('showDetailCard', false);
      }

      _showDetailCard() {
        this.set('showEditDetail', false);
        this.set('showDetailCard', true);
      }

      _triggerReorderDetailsChangeListener(event) {
        
      }

      _triggerPageConfirmationChangeListener(event) {
        if (this.showEditDetail) {
          this.shadowRoot.querySelector("#editDetailCard").saveDetail();
        } else {
          console.error('Unexpected state');
        }
      }

      _triggerSearchChangeListener(event) {
        this.$.pageSearchDialog.toggle();
      }
    }

    window.customElements.define(SrDetailsView.is, SrDetailsView);
  </script>
</dom-module>
