<link rel="import" href="../cards/sr-image-card.html">
<link rel="import" href="../header-options/sr-images-header-options.html">
<link rel="import" href="../dialogs/sr-page-search-dialog.html">
<link rel="import" href="../../sr-main-app-drawer-content.html">

<dom-module id="sr-images-view">
  <template>
    <style include="shared-styles">
    </style>
    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer
          id="drawer"
          slot="drawer"
          swipe-open="[[narrow]]">
        <sr-main-app-drawer-content></sr-main-app-drawer-content>
      </app-drawer>
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <menu-back-button
                show-back-button="[[showBackButton]]"
                disabled="[[disableMenuConfirmation]]"></menu-back-button>
            <div main-title>[[menuTitle]]</div>
            <sr-images-header-options
                disabled="[[disableMenuConfirmation]]"
                page-confirmation-text="[[pageConfirmationText]]"></sr-images-header-options>
          </app-toolbar>
        </app-header>
        <template is="dom-repeat" items="{{page.images.list}}">
          <sr-image-card
              context-item="[[item]]"
              context-index="[[index]]"></sr-image-card>
        </template>
        <template is="dom-if" if="{{!hasImagesList}}">
          <sr-image-card></sr-image-card>
        </template>
      </app-header-layout>
    </app-drawer-layout>
    <sr-page-search-dialog
        id="pageSearchDialog"></sr-page-search-dialog>
  </template>
  <script>
    class SrImagesView extends Polymer.Element {
      static get is() { return 'sr-images-view'; }

      static get properties() {
        return {
          menuTitle: {
            type: String,
            value: 'Images'
          },
          pageConfirmationText: {
            type: String,
            value: null
          },
          disableMenuConfirmation: {
            type: Boolean,
            value: false
          },
          showBackButton: {
            type: Boolean,
            value: true,
            notify: true
          },
          hasImagesList: Boolean
        };
      }

      static get observers() {
        return [
          '_pageIdChanged(page.id)',
        ];
      }

      _pageIdChanged(pageId) {
        this.set('hasImagesList', this._hasImageList());
      }

      _hasImageList() {
        if (!this.page.images || !this.page.images.list) {
          return false;
        }
        return !!this.page.images.list.length;
      }

      ready() {
        super.ready();
        this.addEventListener('toggle-drawer', e => this._toggleDrawerChangeListener(e));
        this.addEventListener('trigger-add-image', e => this._triggerAddImageChangeListener(e));
        this.addEventListener('trigger-reorder-images', e => this._triggerReorderImagesChangeListener(e));
        this.addEventListener('trigger-page-confirmation', e => this._triggerPageConfirmationChangeListener(e));
        this.addEventListener('trigger-search', e => this._triggerSearchChangeListener(e));
      }

      _toggleDrawerChangeListener(event) {
        this.$.drawer.toggle();
      }

      _triggerAddImageChangeListener(event) {

      }

      _triggerReorderImagesChangeListener(event) {
        
      }

      _triggerPageConfirmationChangeListener(event) {
        
      }

      _triggerSearchChangeListener(event) {
        this.$.pageSearchDialog.toggle();
      }
    }

    window.customElements.define(SrImagesView.is, SrImagesView);
  </script>
</dom-module>
