<link rel="import" href="../cards/sr-summary-card.html">
<link rel="import" href="../cards/sr-edit-summary-card.html">
<link rel="import" href="../cards/sr-add-page-card.html">
<link rel="import" href="../cards/sr-related-pages-card.html">
<link rel="import" href="../header-options/sr-summary-header-options.html">
<link rel="import" href="../dialogs/sr-page-search-dialog.html">
<link rel="import" href="../dialogs/sr-delete-page-dialog.html">
<link rel="import" href="../dialogs/sr-add-page-dialog.html">
<link rel="import" href="../../sr-main-app-drawer-content.html">

<dom-module id="sr-summary-view">
  <template>
    <style include="shared-styles">

    </style>
    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer
          id="drawer"
          slot="drawer"
          swipe-open="[[narrow]]">
        <sr-main-app-drawer-content></sr-main-app-drawer-content>
      </app-drawer>
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <menu-back-button
                show-back-button="[[showBackButton]]"
                disabled="[[disableMenuConfirmation]]"></menu-back-button>
            <div main-title>[[menuTitle]]</div>
            <sr-summary-header-options
                disabled="[[disableMenuConfirmation]]"
                page-confirmation-text="[[pageConfirmationText]]"></sr-summary-header-options>
          </app-toolbar>
        </app-header>
        <template is="dom-if" if="[[showSummaryCard]]">
          <sr-summary-card
              page="[[page]]"></sr-summary-card>
          <sr-related-pages-card
              page="[[page]]"></sr-related-pages-card>
        </template>
        <template is="dom-if" if="[[showAddPage]]">
          <sr-add-page-card
              page="[[page]]"
              added-page="[[addedPage]]"></sr-add-page-card>
        </template>
        <template is="dom-if" if="[[showEditPageSummary]]">
          <sr-edit-summary-card
              page="[[page]]"></sr-edit-summary-card>
        </template>
      </app-header-layout>
    </app-drawer-layout>
    <sr-add-page-dialog
        id="addPageDialog"
        page="[[page]]"></sr-add-page-dialog>
    <sr-page-search-dialog
        id="pageSearchDialog"></sr-page-search-dialog>
    <sr-delete-page-dialog
        id="deletePageDialog"></sr-delete-page-dialog>
    <iron-ajax
        id="createPageAjax"
        url="http://localhost:4000/user/page"
        handle-as="json"
        method="POST"
        on-response="handleCreatePage"
        debounce-duration="300"></iron-ajax>
  </template>
  <script>
    class SrSummaryView extends Polymer.Element {
      static get is() { return 'sr-summary-view'; }

      static get properties() {
        return {
          menuTitle: {
            type: String,
            value: 'Page Summary'
          },
          pageConfirmationText: {
            type: String,
            value: null
          },
          disableMenuConfirmation: {
            type: Boolean,
            value: false
          },
          showBackButton: {
            type: Boolean,
            value: false,
            notify: true
          },
          showAddPage: {
            type: Boolean,
            value: false
          },
          showSummaryCard: {
            type: Boolean,
            value: true
          },
          showEditPageSummary: {
            type: Boolean,
            value: false
          },
          addedPage: {
            type: Object,
            value: {}
          }
        };
      }

      ready() {
        super.ready();
        // @DEBUG: remove after finished testing adding new page
        // this._triggerAddPageChangeListener(null);
        this._triggerEditPageSummaryListener();
        this.addEventListener('toggle-drawer', e => this._toggleDrawerChangeListener(e));
        this.addEventListener('add-related-page', e => this._triggerAddPageChangeListener(e));
        this.addEventListener('trigger-add-page', e => this._triggerAddPageChangeListener(e));
        this.addEventListener('trigger-delete-page', e => this._triggerDeletePageChangeListener(e));
        this.addEventListener('trigger-page-confirmation', e => this._triggerPageConfirmationChangeListener(e));
        this.addEventListener('trigger-search', e => this._triggerSearchChangeListener(e));
        this.addEventListener('trigger-add-page-dialog', e => this._triggerAddPageDialogChangeListener(e, null));
        this.addEventListener('trigger-add-page-dialog-0', e => this._triggerAddPageDialogChangeListener(e, 0));
        this.addEventListener('trigger-add-page-dialog-1', e => this._triggerAddPageDialogChangeListener(e, 1));
        this.addEventListener('trigger-add-page-dialog-2', e => this._triggerAddPageDialogChangeListener(e, 2));
        this.addEventListener('review-adding-page', e => this._triggerReviewAddingPageListener(e));
        this.addEventListener('save-adding-page', e => this._triggerSaveAddingPageListener(e));
        this.addEventListener('edit-summary', e => this._triggerEditPageSummaryListener(e));
      }

      _toggleDrawerChangeListener(event) {
        this.$.drawer.toggle();
      }

      _triggerAddPageChangeListener(event) {
        this._triggerAddPageDialogChangeListener(event, 0);
      }

      _triggerAddPageDialogChangeListener(event, jumpToStep) {
        if (jumpToStep !== null) {
          this.$.addPageDialog.setStep(jumpToStep);
        }
        this.$.addPageDialog.toggle();
      }

      _triggerDeletePageChangeListener(event) {
        this.$.deletePageDialog.toggle();
      }

      _triggerPageConfirmationChangeListener(event) {
        if (this.showAddPage) {
          this._saveAddedPage(this.addedPage);
        } else {
          console.error('Unexpected state: sr-summary-view.html._triggerPageConfirmationChangeListener()');
        }
      }

      _triggerEditPageSummaryListener(event) {
        this._showEditPageSummary();
        this.set('showBackButton', true);
        this.set('pageConfirmationText', 'Save');
        this.set('menuTitle', 'Edit Page Summary');
        this.set('disableMenuConfirmation', false);
      }

      _saveAddedPage(addedPage) {
        if (addedPage.id) {
          this._addPageLink(addedPage);
        } else {
          this._createNewPage(addedPage);
        }
      }

      _addPageLink(addedPage) {
        debugger;
      }

      _createNewPage(addedPage) {
        var params = {
          type: addedPage.typeCode,
          name: addedPage.name,
          id: addedPage.linkedPage.id,
        };
        this.$.createPageAjax.params = params;
        this.$.createPageAjax.generateRequest();
      }

      handleCreatePage(event) {
        var id = event.detail.response.id;
        window.location.href = window.location.origin + "/page/" + id;
      }

      _triggerSearchChangeListener(event) {
        this.$.pageSearchDialog.toggle();
      }

      _triggerReviewAddingPageListener(event) {
        this._showAddPage();
        this.set('showBackButton', true);
        this.set('pageConfirmationText', 'Save');
        this.set('menuTitle', 'Add a Page');
        this.set('disableMenuConfirmation', false);
        this.set('addedPage', event.detail);
      }

      _showAddPage() {
        this.set('showAddPage', true);
        this.set('showSummaryCard', false);
        this.set('showEditPageSummary', false);
      }

      _showSummaryCard() {
        this.set('showAddPage', false);
        this.set('showSummaryCard', true);
        this.set('showEditPageSummary', false);
      }

      _showEditPageSummary() {
        this.set('showAddPage', false);
        this.set('showSummaryCard', false);
        this.set('showEditPageSummary', true);
      }

      _triggerSaveAddingPageListener(event) {
        this._saveAddedPage(event.detail);
      }
    }

    window.customElements.define(SrSummaryView.is, SrSummaryView);
  </script>
</dom-module>
