<link rel="import" href="../cards/sr-summary-card.html">
<link rel="import" href="../cards/sr-related-pages-card.html">
<link rel="import" href="../header-options/sr-summary-header-options.html">
<link rel="import" href="../dialogs/sr-page-search-dialog.html">
<link rel="import" href="../dialogs/sr-delete-page-dialog.html">
<link rel="import" href="../../sr-main-app-drawer-content.html">
<link rel="import" href="../../../tools/menu-back-button.html">

<dom-module id="sr-summary-view">
  <template>
    <style include="shared-styles">
      :host {
        --app-primary-color: #373737;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
    </style>
    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer
          id="drawer"
          slot="drawer"
          swipe-open="[[narrow]]">
        <sr-main-app-drawer-content></sr-main-app-drawer-content>
      </app-drawer>
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <menu-back-button
                show-back-button="[[showBackButton]]"
                disabled="[[disableMenuConfirmation]]"></menu-back-button>
            <div main-title>[[menuTitle]]</div>
            <sr-summary-header-options
                disabled="[[disableMenuConfirmation]]"
                show-page-confirmation="[[showPageConfirmation]]"></sr-summary-header-options>
          </app-toolbar>
        </app-header>
        <sr-summary-card
            page="[[page]]"></sr-summary-card>
        <sr-related-pages-card
            page="[[page]]"></sr-related-pages-card>
      </app-header-layout>
    </app-drawer-layout>
    <sr-page-search-dialog
        id="pageSearchDialog"></sr-page-search-dialog>
    <sr-delete-page-dialog
        id="deletePageDialog"></sr-delete-page-dialog>
  </template>
  <script>
    class SrSummaryView extends Polymer.Element {
      static get is() { return 'sr-summary-view'; }

      static get properties() {
        return {
          menuTitle: {
            type: String,
            value: 'Page Summary'
          },
          showPageConfirmation: {
            type: Boolean,
            value: false
          },
          disableMenuConfirmation: {
            type: Boolean,
            value: false
          },
          showBackButton: {
            type: Boolean,
            value: false,
            notify: true
          }
        };
      }

      ready() {
        super.ready();
        this.addEventListener('toggle-drawer', e => this._toggleDrawerChangeListener(e));
        this.addEventListener('trigger-add-page', e => this._triggerAddPageChangeListener(e));
        this.addEventListener('trigger-delete-page', e => this._triggerDeletePageChangeListener(e));
        this.addEventListener('trigger-page-confirmation', e => this._triggerPageConfirmationChangeListener(e));
        this.addEventListener('trigger-search', e => this._triggerSearchChangeListener(e));
      }

      _toggleDrawerChangeListener(event) {
        this.$.drawer.toggle();
      }

      _triggerAddPageChangeListener(event) {

      }

      _triggerDeletePageChangeListener(event) {
        this.$.deletePageDialog.toggle();
      }

      _triggerPageConfirmationChangeListener(event) {
        
      }

      _triggerSearchChangeListener(event) {
        this.$.pageSearchDialog.toggle();
      }
    }

    window.customElements.define(SrSummaryView.is, SrSummaryView);
  </script>
</dom-module>
